<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.llanox.alacartaexpress.admin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".ACEApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:theme="@style/Theme.ACE"
        tools:replace="android:icon,android:theme">
        <activity
            android:name=".presentation.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ACE.NoActionBar"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.llanox.alacartaexpress.admin.presentation.listorders.OrderListActivity"
            android:label="@string/title_order_list"
            android:launchMode="singleTask"
            android:theme="@style/Theme.ACE.NoActionBar"></activity>
        <activity
            android:name="co.llanox.alacartaexpress.admin.presentation.OrderDetailActivity"
            android:label="@string/title_order_detail"
            android:parentActivityName="co.llanox.alacartaexpress.admin.presentation.listorders.OrderListActivity"
            android:theme="@style/Theme.ACE.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.llanox.alacartaexpress.admin.presentation.listorders.OrderListActivity" />
        </activity>
        <service
            android:name="co.llanox.alacartaexpress.admin.messages.PushNotificationsListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_channel_id"/>
    </application>

</manifest>
